<!DOCTYPE html>
<html>
<head>
    <style>
        .ui.container {
            background-color: white;
            padding: 15px;
            margin: 25px 0px 0px 0px;
            border-radius: 25px;
            border: 2px solid #ffffff;
        }

        body {
            max-height: 900px;
            background: url('{{fond | raw}}');
        }
    </style>
<base href="{{config['siteUrl']}}">
<meta charset="UTF-8">
<title>homepage</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
</head>

<body>
