<div class="ui container" id="context">

    <div id="rep">
        {{q["msg"] | raw}}
        {{q["btLogin"] | raw}}
        {{q["btProfil"] | raw}}
        {{q["btBoard"] | raw}}
        {{q["btDeco"] | raw}}
    </div>

        <br>

    <br> <br>

    <center><h1>Accueil</h1></center>

    <br> <br>

    <div>
        {{q["frmSearch"] | raw}}
        {{q["FrmMoteur"] | raw}}
    </div>

    <br><br>

    <div id="listeLiens">
        <h2>Liens perso</h2>

        <div class="img">
            <div clas="logo">
                {{q['img1'] | raw}}
            </div>
        </div>

        <div class="img">
            <div clas="logo">
                {{q['img2'] | raw}}
            </div>
        </div>

        <div class="img">
            <div clas="logo">
                {{q['img3'] | raw}}
            </div>
        </div>

        <div class="img">
            <div clas="logo">
                {{q['img4'] | raw}}
            </div>
        </div>

        <div class="img">
            <div clas="logo">
                {{q['img5'] | raw}}
            </div>
        </div>

        <div class="img">
            <div clas="logo">
                {{q['img6'] | raw}}
            </div>
        </div>

        <div class="img">
            <div clas="logo">
                {{q['img7'] | raw}}
            </div>
        </div>

        <div class="img">
            <div clas="logo">
                {{q['img8'] | raw}}
            </div>
        </div>
    </div>

</div>  

{{ script_foot |raw }}